<%= form_with(model: usuario, local: true) do |form| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :login %>
    <%= form.text_field :login, id: :usuario_login %>
  </div>

  <div class="field">
    <%= form.label :passwd %>
    <%= form.text_field :passwd, id: :usuario_passwd %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :usuario_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
