<% provide(:title, @usuario.login) %>
<div class="row">
	<aside class="col-md-4">
		<section class="usuario_info">
			<h1> <%= gravatar_for @usuario %>
			<%= @usuario.name %> </h1>
		</section>
	</aside>
</div>
<div class="row">

	<p id="notice">
		<%= notice %>
	</p>

	<p>
		<strong>Login:</strong>
		<%= @usuario.login %>
	</p>

	<p>
		<strong>Name:</strong>
		<%= @usuario.name %>
	</p>
</div>
<div class="row">
	<div class="col-md-8">
		<% if @usuario.textnotes.any? %>
		<h3>Notas del usuario (<%= @usuario.textnotes.count %>)</h3>
		<ol class="textnotes">
			<%= render @textnotes %>
		</ol>
		<%= will_paginate @textnotes %>
		<% end %>
	</div>

</div>

<%= link_to '< Atras', usuarios_path %> |
<%= link_to 'Editar Usuario', edit_usuario_path(@usuario) %>
