<p id="notice"><%= notice %></p>

<p>
  <strong>Login:</strong>
  <%= @usuario.login %>
</p>

<p>
  <strong>Passwd:</strong>
  <%= @usuario.passwd %>
</p>

<p>
  <strong>Name:</strong>
  <%= @usuario.name %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
